version: 1
disable_existing_loggers: false

formatters:
  standard:
    format: "%(asctime)s | %(levelname)s | %(name)s | %(message)s"

handlers:
  console:
    class: logging.StreamHandler
    level: INFO
    formatter: standard
    stream: ext://sys.stdout

  file:
    class: logging.FileHandler
    level: INFO
    formatter: standard
    filename:  vedio-skip-enabled-error-check.log
    encoding: utf8

  # file:
  #   class: logging.handlers.TimedRotatingFileHandler
  #   level: INFO
  #   formatter: standard
  #   filename: vast-errors-alert.log
  #   when: midnight
  #   backupCount: 7
  #   encoding: utf8

loggers:
  app: # root logger for your package
    level: INFO
    handlers: [console, file]
    propagate: false

root:
  level: INFO
  handlers: [console, file]
